.order {
    width: 90%;
    border: 1px solid rgba(100, 100, 100, .9);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    margin: 20px auto;
    font-family: Roboto;

}

.order-number {
    text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0;
}

.cost {
    margin-top: 20px;
}

.contents {
    width: 80%;
    margin: 10px auto;
    padding: 15px;
    background-color: rgba(100%, 100%, 100%, 0.1);
}

.delivery-confirmed-msg-box {
    margin: 40px auto;
    display: block;
    height: 100px;
    background-color: transparent;
    color: white;
    border-radius: 2%;
    font-size: 30px;
    font-family: Roboto;
    user-select: none;
    text-align: center;
}