.user-products{
    margin-top: 15px;
    width: 100%;
    color: white;
}
.no-product-msg{
    width: 326px;
    display: block;
    font-family: Roboto;
    font-size: 26px;
    margin: 50px auto;
}

.no-product-msg-block{
    width: 100%;
}

.loader{
    width: 100%;
    margin: 160px auto;
}